* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.container {
}

header {
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 70px;
}

header > i {
  font-size: 26px;
}

main {
  display: flex;
  flex-direction: column;
  height: 500px;
  background: green;
}

form,
.library {
  width: 80%;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
}

form > input {
}

.library {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
}

.book {
  background-color: antiquewhite;
  margin: 5px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 30px;
  position: relative;
  overflow: hidden;
}

.delete {
  position: absolute;
  right: 10px;
  top: 7px;
  background-color: red;
  border: 1px solid rgb(110, 110, 110);
  padding: 3px;
}

.read-btn {
  border: 1px solid black;
  padding: 2px 6px;
  background-color: rgba(255, 0, 0, 0.202);
}

.read {
  background-color: rgba(126, 252, 0, 0.241);
}
